.image-embed figure {
  margin: 0;

  figcaption {
    font-size: var(--font-smaller);
    color: var(--text-muted);
  }
}

.advanced-images-image-group {
  display: grid;
  grid-template-columns: repeat(var(--cols, 2), 1fr);
  gap: var(--size-4-4);

  img {
    display: block;
  }
}
